@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400;800&family=Xanh+Mono:ital@0;1&display=swap');

:root{
  --base-color: #fff;
  --highlight-color: #fff;
  --secondary-color: rgb(150);
  --base-shadow-color: rgba(255, 255, 255, 0.03);
}

@font-face {
  font-family: 'FraktionSans';
  src: url('./fonts/Sans/PPFraktionSans-Variable.ttf') format('truetype');
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--base-color);
  font-family: 'FraktionSans', sans-serif;
}

#root{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.to-type {
  /* font-family: 'FraktionSans', sans-serif; */
  font-family: "Xanh Mono", monospace;
  font-size: 1.2em;
  color: var(--secondary-color);
  position: fixed;
  top: 25vw;
  left: 35vw;
  width: 50vw;
  text-transform: lowercase;
  /* transition: color .3s; */
  transform: rotate(-4deg) translateX(10px);
  animation: float-to-type 30s infinite;
}

@keyframes float-to-type {
  0% {
    transform: rotate(-4deg) translateX(10px);
  }
  50% {
    transform: rotate(-2deg) translateX(20px);
  }
  100% {
    transform: rotate(-4deg) translateX(10px);
  }

}

.typed {
  /* font-family: 'FraktionSans', sans-serif; */
  font-family: "Xanh Mono", monospace;
  font-size: 1.2em;
  color: var(--base-color);
  position: fixed;
  top: 25vw;
  left: 35vw;
  width: 50vw;
  transition: color .3s;
  transform: rotate(-1deg);

  box-shadow: 0 0 50px 19px var(--base-shadow-color);
  animation: float-to-typed 25s infinite;
}

@keyframes float-to-typed {
  0% {
    transform: rotate(-1deg) translateX(10px);
  }
  50% {
    transform: rotate(2deg) translateX(20px);
  }
  100% {
    transform: rotate(-1deg) translateX(10px);
  }

}

.bar {
  all: unset;
  border: none;
  font-size: .5em;

  position: fixed;
  top: 30vw;
  left: 20vw;
  width: 50vw;
  height: 10px;

  padding: 10px;
  box-shadow: 0 0 50px 19px rgba(255, 255, 255, 0.08);
  background-color: var(--secondary-color);
  color: var(--base-color);

  transform: rotate(3deg);
  transition: background-color .3s;
}

#highlight {
  color: black;
  background-color: #eee;
  transition: all .3s;
}

#highlight:hover{
  box-shadow: 0 0 50px 10px rgba(255, 225, 255,.2);
  color: #fff;
}

